<app-page-header title="Account" preTitle="My Profile"></app-page-header>
<div class="page-body">
  <div class="container-xl">
    <div class="row row-deck row-cards">
      <app-card-icon-sm  class="col-sm-6 col-lg-3" icon="user" color="blue" line1="Damien Trouillet" line2="User"></app-card-icon-sm>
      <app-card-icon-sm  class="col-sm-6 col-lg-6" icon="user" color="blue" line1="Damien Trouillet" line2="User"></app-card-icon-sm>
      <app-card-icon-sm  class="col-sm-6 col-lg-3" icon="user" color="blue" line1="Damien Trouillet" line2="User"></app-card-icon-sm>
    </div>
  </div>
</div>
