<header class="navbar navbar-expand-md navbar-light d-print-none">
    <div class="container-xl">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
            <a href=".">
                <img src="./assets/static/logo.svg" width="110" height="32" alt="Tabler" class="navbar-brand-image">
            </a>
        </h1>
        <div class="navbar-nav flex-row order-md-last">
            <div class="nav-item d-none d-md-flex me-3">
                <div class="btn-list">
                    <a href="https://github.com/informatique-cdc/ebad" class="btn" target="_blank" rel="noreferrer">
                        <i-tabler class="icon" name="brand-github"></i-tabler>
                        Source code
                    </a>
                    <a href="https://github.com/dtrouillet" class="btn" target="_blank" rel="noreferrer">
                        <i-tabler class="icon text-pink" name="heart"></i-tabler>
                        Sponsor
                    </a>
                </div>
            </div>
            <div class="d-none d-md-flex">
                <a (click)="swithTheme()" style="cursor: pointer" class="nav-link px-0 hide-theme-dark" title="Enable dark mode"
                   data-bs-toggle="tooltip" data-bs-placement="bottom">
                    <i-tabler class="icon" name="moon"></i-tabler>
                </a>
                <a (click)="swithTheme()" style="cursor: pointer" class="nav-link px-0 hide-theme-light" title="Enable light mode"
                   data-bs-toggle="tooltip" data-bs-placement="bottom">
                    <i-tabler class="icon" name="sun"></i-tabler>
                </a>
                <app-notification class="nav-item dropdown d-none d-md-flex me-3"></app-notification>
            </div>
            <div class="nav-item dropdown" ngbDropdown>
                <a class="hide-arrow nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown"
                   aria-label="Open user menu" ngbDropdownToggle>
                        <span class="avatar avatar-sm"
                              style="background-image: url(./assets/static/avatars/000m.jpg)"></span>
                    <div class="d-none d-xl-block ps-2">
                        <div>Paweł Kuna</div>
                        <div class="mt-1 small text-muted">UI Designer</div>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow" ngbDropdownMenu>
                    <a href="#" class="dropdown-item">Set status</a>
                    <a href="#" class="dropdown-item">Profile & account</a>
                    <a href="#" class="dropdown-item">Feedback</a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">Settings</a>
                    <a href="#" class="dropdown-item">Logout</a>
                </div>
            </div>
        </div>
    </div>
</header>
