<div class="navbar-expand-md">
  <div class="collapse navbar-collapse" [ngClass]="{'show': navbarCollapsed}" id="navbar-menu">
    <div class="navbar navbar-light">
      <div class="container-xl">
        <ul class="navbar-nav">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/home">
              <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <i-tabler name="home" class="icon"></i-tabler>
              </span>
              <span class="nav-link-title">
                Home
              </span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/terraform-module">
              <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <i-tabler name="package" class="icon"></i-tabler>
              </span>
              <span class="nav-link-title">
                Terraform Modules
              </span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/build">
              <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <i-tabler name="settings" class="icon"></i-tabler>
              </span>
              <span class="nav-link-title">
                Builds
              </span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" href="./icons.html">
                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                     <i-tabler name="ghost" class="icon"></i-tabler>
                    </span>
              <span class="nav-link-title">
                      Administration
                    </span>
            </a>
          </li>
          <li class="nav-item dropdown" routerLinkActive="active" ngbDropdown>
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
               data-bs-auto-close="outside" role="button" aria-expanded="false" ngbDropdownToggle>
                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                      <i-tabler name="lifebuoy" class="icon"></i-tabler>
                    </span>
              <span class="nav-link-title">
                      Help
                    </span>
            </a>
            <div class="dropdown-menu" ngbDropdownMenu>
              <a class="dropdown-item" href="./docs/index.html">
                Documentation
              </a>
              <a class="dropdown-item" href="./changelog.html">
                Changelog
              </a>
              <a class="dropdown-item" href="https://github.com/tabler/tabler" target="_blank"
                 rel="noopener">
                Source code
              </a>
              <a class="dropdown-item text-pink" href="https://github.com/sponsors/codecalm"
                 target="_blank" rel="noopener">
                <i-tabler name="heart" class="icon icon-inline me-1" style="width: 16px !important;"></i-tabler>
                Sponsor project!
              </a>
            </div>
          </li>
        </ul>
        <div class="my-2 my-md-0 flex-grow-1 flex-md-grow-0 order-first order-md-last">
          <form action="." method="get">
            <div class="input-icon">
                    <span class="input-icon-addon">
                      <i-tabler style="display: inherit" name="search" class="icon"></i-tabler>
                    </span>
              <input type="text" value="" class="form-control" placeholder="Search…"
                     aria-label="Search in website">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
